:root {
  --background-color: 236,236,236;
  --main-text: 36,36,36;
  --dark-text: 57,57,55;
  --blue: 52,120,246;
  --violet: 139,67,146;
  --pink: 229,92,156;
  --red: 205,71,69;
  --orange: 232,136,58;
  --yellow: 241,186,75;
  --green: 120,183,86;
  --gray: 152,152,152;
  --white: 255,255,255;
  --shadow: #444444;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: 57,57,55;
    --main-text: 225,225,224;
    --violet: 154,84,162;
    --red: 236,94,93;
    --orange: 231,136,58;
    --yellow: 242,186,75;
    --green: 121,184,86;
    --gray: 139,140,140;
    --shadow: #000000;
    --duck: var(--yellow);
  }
}

* {
  box-sizing:border-box;
}

/* Reset/Force Defaults and Global Settings */

html {
  min-height:100vh;
  box-sizing: border-box;
  position:relative;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*:focus {
  outline:0;
  box-shadow: 0 0 3pt 2pt #ECAF80 !important;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size:17px;
  line-height:1.47rem;
  min-height: 100vh !important;
}

body {
  background-color: rgb(var(--background-color));
  color: rgb(var(--main-text));
}

a {
  color: rgb(var(--blue));
}